.dropbox {}

#zpopup-overlay { display: none;border: 1px solid gray;max-height: 200px;overflow: auto;position: absolute;z-index: 100;background-color: white;}
.zpopup-header { }
.zpopup-hidden { }
.zpopup-select { }
.zpopup-itemrow { padding: 0px;margin: 0px;white-space: nowrap;}
